.statistics {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 25%;
}

.statList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: white;
  text-align: center;
  padding-left: 0;
}

.label {
  display: block;
  padding-bottom: 10px;
}

.title {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(105, 103, 100);
}

.item {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
